@{
    ViewBag.Title = "Mitchell Wright";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm a junior majoring in MIS and Business Analytics. I have spent the past two summers interning at Hyland Software as a Sales Support Intern. This summer I am interning as a Business Development Intern at Sumo Logic in San Francisco. On campus, I have held two positions in the Schey Sales Centre. Last year I served as the Director of Membership where I analyzed all of the metrics that we observed in the organization. I now serve as the Vice President of Operations where I am in charge of three Directors to ensure that they hit their bi-weekly gooals.</p>
