@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mitchell Wright</h1>
    <p class="lead">Connect with my LinkedIn here.</p>
    <p><a href="https://www.linkedin.com/in/mitchellawright/" class="btn btn-primary btn-lg">Connect &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This Summer</h2>
        <p>
            This summer I am moving to San Francisco to work as a Business Development Intern for Sumo Logic.
        </p>
        <p><a class="btn btn-default" href="https://www.sumologic.com/">Sumo Logic &raquo;</a></p>
        @Html.ActionLink("Pets", "Index", "Pets") <br />
        @Html.ActionLink("Vets", "Index", "Vets") <br />
        @Html.ActionLink("Appointments", "Index", "Appointments")
    </div>
    <div class="col-md-4">
        <h2>Schey Sales Centre</h2>
        <p>On Campus I am actively involved in the Schey Sales Centre and have held two leadership positions.</p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/sales">Schey Sales Centre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Strongsville</h2>
        <p>I am originally from Strongsville, Ohio, a suburb about 25 minutes southwest of Cleveland.</p>
        <p><a class="btn btn-default" href="https://www.strongsville.org/">Strongsville, Ohio &raquo;</a></p>
    </div>
</div>